@{
    ViewBag.Title = "About";
}

<h3>DanPol</h3>

<p>Firma DanPol powstała dzięki pasji, wizji i konsekwencji swojego założyciela który 
    w 1998 roku zdobył licencje i sam ruszym z przewozem osób na trasie Katowice-Kraków. 
    Od tego czasu firma się rozwinęła, obecnie mamy do dyspozycji 4 busy, autokar 
    oraz 6 zawodowych kierowców do ich prowdzenia.</p>

<p>Właścicel: Jan Kolski</p>
<p>Adres: ul. Jana Pawła II 37, 31-864 Kraków</p>
<p>Telefon/fax: (070) 012-34-56, (070)-011-022-033</p>